:root {
  --gray-light: #aeaeae;
  --gray: #666;
  --border-color: #c8c8c8;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.2;
  color: #000;
  font-family: arial;
  background-color: #000;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

a {
  color: currentColor;
  transition: all 0.2s;
}

h1,
.h1 {
  font-size: 16px;
}

h2,
.h2 {
  font-size: 14px;
}

h3,
.h3 {
  font-size: 13px;
}

b,
strong {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  background: #fff url("../img/main-bg.jpg") center 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

.main {
  width: 100%;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  &--wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &--center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &--between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.gray {
  color: var(--gray);
}